.overview {
    padding: 2rem 9%;
    background-color: #fff2f2;
    padding-bottom: 115px;

}

.ordenar {
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: rgb(254, 3, 3);
}


.btn {
    display: inline-block;
    padding: .8rem 3rem;
    border: .2rem solid var(--red);
    color: var(--red);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .7rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
}

.boton2 {
    display: flex;
    justify-content: center;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: var(--red);
    transition: .3s linear;
    z-index: -1;
}

.btn:hover::before {
    width: 100%;
    left: 0;
}






.order .row {
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    background: rgb(255, 217, 217);
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    border-radius: 50px;
    border: 4px dashed;
}

.order .row .image {
    flex: 1 1 30rem;
}

.order .row .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.order .row form {
    flex: 1 1 50rem;
    padding: 1rem;
    background-image: url("https://img.freepik.com/vector-gratis/ondulado-rojo-fondo-semitono_1409-1274.jpg?w=2000");
    width: 100%;
    border-radius: 30px;
    text-align: center;
}


.order .row form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.order .row form .inputBox input,
.order .row form textarea {
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: 6px solid rgba(23, 3, 3, 0.893);
    border-radius: .5rem;
    width: 49%;
    background-color: rgba(255, 255, 255, 0.692);
    border-radius: 20px;

}

.order .row form textarea {
    width: 100%;
    resize: none;
    height: 15rem;
}

.order .row form .btn {
    background-color: #ff3838b0;
    border: solid 3px rgb(158, 38, 38);
    text-shadow: 1px 2px 6px rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}